<%include partials/header%>
<div class="landing">
    <h1 class="logo">Vocapp</h1>
    <div class="landing__main">
        <img class="landing__img" src="img/iphone.png" alt="">
        <div class="landing__info">
            <h1 class="landing__title">Introducing Vocapp!</h1>
            <p class="landing__p">This is a single web page to keep your new english words. Learning has never been so easy</p>
            <a href="words" class="button-link">Your Words</a>
        </div>
    </div>
</div>
<%include partials/footer%>