<%include partials/header%>
<div class="container">
<h1 class="logo">Vocapp</h1>
<form class ="form" action="/words" method="POST">
    <h1 class="form-title">New word</h1>
    <label class="label" for="Word">Word</label>
    <input class="textinput" type="text" name="Word" id="Word">
    <label class="label" for="Translation">Translation</label>
    <input class="textinput"type="text" name="Translation" id="Translation">
    <label class="label" for="Meaning">Meaning</label>
    <textarea class="textarea" name="Meaning" id="Meaning" cols="30" rows="10"></textarea>
    <input class="button-submit" type="submit" value="Add">
</form>
</div>
<%include partials/footer%>